/*RATE BOXES*/
.rate_container{
	font-size: 40px;
	display: inline-block;
	vertical-align: top;
}
.rate_text{
	background: #757575;
    color: #efefef;
    padding: 10px;
    font-weight: 400;
}
.rate_choices{
	background: #dedede;
    padding: 10px;
}
.rate_choices div{
	display: inline-block;
	margin: 0 20px;
	opacity: 0.5;
	cursor: pointer;
	transition: all 0.2s;
}
.star i {
	margin: 0;
	cursor: pointer;
	opacity: 0.5;
}
.rate_choices div:hover{
	opacity: 1;
}
.rate_selected{
	opacity: 1 !important;
}